<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    {% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        tex2jax: {
          inlineMath: [ ['$','$'] ]
        }
      });
    </script>
    <script type="text/javascript"
      src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>
    {% include head-custom.html %}
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>
    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
      <a href="{{ site.baseurl }}/" class="btn">Menu</a>
      <a href="{{ site.baseurl }}/algebre-lineaire" class="btn">Algèbre linéaire</a>
      <a href="{{ site.baseurl }}/theorie-des-probabilites" class="btn">Théorie des probabilités</a>
      <br>
      {% if page.url contains "/algebre-lineaire" %}
        <a href="{{ site.baseurl }}/matrices" class="btn">Matrices</a>
        <a href="{{ site.baseurl }}/endomorphismes-d'un-espace-euclidien" class="btn">Endomorphismes d'un espace euclidien</a>
      {% endif %}
      {% if page.url contains "/theorie-des-probabilites" %}
        <a href="{{ site.baseurl }}/probabilites" class="btn">Probabilités</a>
        <a href="{{ site.baseurl }}/variables-aleatoires" class="btn">Variables aléatoires</a>
      {% endif %}
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}
      <div class="sidebar-right">
        <a href="#top">Retour en haut</a>
        <br>
        {% if page.url != "/" %}
          <a href="{{ site.baseurl }}/">Retour à l'accueil</a>
        {% endif %}
      </div>
    </main>
  </body>
</html>
